@use 'var';

.padding-topbottom {
   padding: var.$space-s 0;
}

.nav-container {
   position: fixed;
   top: 0;
   min-width: 100%;
   height: auto;
   border-bottom: 1px solid var.$main-color;
}

.container {
   max-width: 1500px;
   margin: 0 auto;
}

.highlight {
   color: var.$main-color;
}

.btn {
   padding: 10px;
   min-width: 200px;
   border: 1px solid var.$accent-color;
   border-radius: var.$corner-l;
   font-size: 16px;
   background-color: var.$accent-color;
   cursor: pointer;
   transition: .2s ease-in-out;
   &:hover {
      border: 1px solid var.$main-color;
   }
}