// Colors
$bg-color: #fffaf3;
$main-color: #f62440;
$accent-color: #ffe5bf;
$text-color: #333;

// Font Family
$inter: "Inter", sans-serif;

// Spacing
$space-l: 45px;
$space-m: 35px;
$space-s: 15px;
$space-xs: 5px;

// CORNERS
$corner-l: 12px;
$corner-m: 6px;
$corner-s: 4px;