@use 'var';
@use 'global';
@use 'util';

.grid-container {
   display: grid;
   grid-template-areas: 
      'nav'
      'main'
      'footer'
   ;
   gap: var.$space-m;

   #nav { 
      grid-area: nav;
      .nav-btn {
         display: flex;
         justify-content: flex-end;
         gap: 10px;
         .nav-link a {
            padding: var.$space-s;
            border-bottom: 2px solid transparent;
            &:hover {
               color: var.$main-color;
               border-bottom: 2px solid var.$main-color;
            }
         }
      }
   }

   #main {
      grid-area: main;
      height: 70vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .search-home {
         #title {
            text-align: center;
         }
         #searchbox-content {
            background-color: #fefefe;
            padding: var.$space-s;
            border-radius: var.$corner-l;
            width: 550px;
            min-width: 200px;
            display: grid;
            grid-template-columns: 1fr 15fr;
            box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
            #search-box {
               border: none;
               outline: none;
            }
         }
         #search-btn {
            margin-top: var.$space-s;
            display: flex;
            justify-content: center;
         }
      }
   }

   #footer {
      grid-area: footer;
      text-align: center;
      p {
         font-size: 12px;
      }
      .socials {
         a {
            display: inline-block;
            margin: 5px;
            i {
               font-size: 20px;
            }
         }
      }
   }
}